<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.monitorwise">

    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonitorWise">
        <activity
            android:name=".screen.monitor.activity.MonitorActivity"
            android:exported="true" />
        <activity
            android:name=".screen.home.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".screen.user.login.LoginActivity"
            android:exported="true" />
        <activity
            android:name=".screen.user.register.RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".screen.splash.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MonitorWise.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>